@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
    Color1: rgb(39, 174, 96)
    Color2: rgb(52, 110, 76)
*/

body{
    margin: 0;
}

#wrapper_index{   
    width: 100%;
    min-height: 150vh;
    grid-template-columns: 33% 16.5% 16.5% 33%;
    grid-template-rows: 15vh 20vh 70vh 50vh 15vh;
    gap: 4px;
    background-color: rgb(1245, 245, 245);
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'sc sc sc sc'
    'a1 a1 a2 a2'
    'a3 a4 a4 a5'
    'ft ft ft ft';
    
}

header{
    grid-area: hd;
    display: flex; /* div, nav{a*3, div, div} */
    justify-content: space-around;
    
    align-items: center;



    background-color: rgb(39, 174, 96);
    border-radius:0 0 10px 10px ;
}

/*saker i header nedan ------------------------*/
.logo{
    background-color: blanchedalmond;
    padding: 10px;
}


nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

nav a{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem;
}

nav a:hover{
    color: rgb(125, 133, 130);
}

/*saker i nav nedan ------------------------*/

.header_skiing{
    padding: 10px;
    background-color: azure;
}

.header_biking{
    padding: 10px;
    background-color: azure;
}

.header_swimming{
    padding: 10px;
    background-color: azure;
}

.search{
    padding: 10px;
    background-color: azure;
}

.menu{
    padding: 10px;
    background-color: azure;
}

/*saker i nav ovan------------------------*/



/*saker i header ovan ------------------------*/




section{
    grid-area: sc;


    background-color: aquamarine;
}

/*saker om articles nedan ------------------------*/


article{
    /*allmänt för alla articles*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;

}

.article_images{
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}

.white_background{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
}

h2{

}

h3{
 padding: 5px 20px 5px 20px;
}


.art1{
    grid-area: a1;

}

.art2{
    grid-area: a2;

    background-color: blue;

}

.art3{
    grid-area: a3;

    background-color: blue;

}

.art4{
    grid-area: a4;
    background-color: blue;

}

.art5{
    grid-area: a5;

    background-color: blue;

}
/*saker om articles ovan ------------------------*/


footer{
    grid-area: ft;

    background-color: cornflowerblue;
}