@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*
    Color1: rgb(39, 174, 96)
    Color2: rgb(52, 110, 76)
*/

body{
    margin: 0;
}

#wrapper_index{   
    width: 100%;
    min-height: 150vh;
    grid-template-columns: 33% 16.5% 16.5% 1fr;
    grid-template-rows: 15vh 20vh 70vh 50vh 15vh;
    gap: 5px;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'sc sc sc sc'
    'a1 a1 a2 a2'
    'a3 a4 a4 a5'
    'ft ft ft ft';
    
}

#wrapper_trysil{
    width: 100%;
    min-height: 150vh;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 15vh 50vh 50vh 15vh;
    gap: 5px;
    background-color: rgb(158, 59, 59);
    display: grid;
    grid-template-areas:
    'hd hd'
    'at dv'
    's2 s2'
    'ft ft';
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 5px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 5px;
    font-weight: bold; 
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 5px;
    font-weight: bold; 
    padding: 5px 20px 5px 20px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold; 
}

.center{
    text-align: center;
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(39, 174, 96);
    border-radius: 0 0 10px 10px;
}


/*saker i header nedan ------------------------*/
header div a img{
    width: 100%;
    align-self: flex-start;
    height: 10vh;
}

.logo{
    padding: 10px; 
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    justify-self: center;
}
nav a{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.7rem;
}
nav a:hover{
    color: rgb(125, 133, 130);
}
/*saker i nav nedan ------------------------*/
.header_skiing{
    padding: px;
}
.header_biking{
    padding: px;
}
.header_swimming{
    padding: px;
}
/*saker i nav ovan------------------------*/
.search{
    padding: 10px;
}
.menu{
    padding: 10px;
}
.borderRadius{
    border-radius: 10px;
    height: 10vh;
}
/*saker i header ovan ------------------------*/
section{
    grid-area: sc;
    padding: 0.5rem 2rem;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/*saker om articles nedan ------------------------*/


article{
    /*allmänt för alla articles*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;

}

.article_images{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.white_background{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
}

.art1{
    grid-area: a1;
    background-color: blue;

}

.art2{
    grid-area: a2;

    background-color: blue;

}

.art3{
    grid-area: a3;

    background-color: blue;

}

.art4{
    grid-area: a4;
    background-color: blue;

}

.art5{
    grid-area: a5;

    background-color: blue;

}
/*saker om articles ovan ------------------------*/


footer{
    grid-area: ft;

    background-color: cornflowerblue;
}


/* Trysil.html:  */
.abTrysil{
    grid-area: at;
}

.TrysilImgs{
    grid-area: dv;
}

.ToDo{
    grid-area: s2;
}
